body {
    text-align: center;
    background-color: black;
    color: white;
}

button {
    background-color: rgba(0, 255, 157, 0.628) !important;
    border-color: rgba(0, 255, 157, 0.628)!important;
}

#flashcard {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    width: 600px;
    height: 300px;

}

.section-divider {
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#randomButton {
    margin: auto;
}

#flashcard:hover {
    background-color: #353535;
}

#flashcard p {
    margin: 0;
}

#createFlashcard {
    margin-top: 20px;
}

#question {
    font-weight: bold;
}